*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    
    padding-top: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    border-bottom:2px solid grey ;
    justify-content: space-between;
    
}

.logo{
    padding-left: 10px;
    /* background-color: bisque; */
}

.ButtonConatainer{
    width: 66%;
    display: flex;
    justify-content: space-between;
}

.page-down {
	border-top: 8px solid #222;
	background-color: var(--primary-color);
	font-size: 0.8rem;
	margin-bottom: 1.5rem;
	padding: 25px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 0.5rem;
}
